<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
    <title>Ciphers</title>
</head>

<body>
    <h2>Trending on Ciphers</h2>
    <div id="section1">

        <div class="blogs">
            <img class="writer-pic" src="../imgs/ard.jpg" alt="" />
            <div class="content">
                <h3>How to use Ultrasonic with Arduino Mega?</h3>
                <p>
                    Beginers guide on how to integrate an ultrasonic(US-501) sensor with a arduino board!
                </p>
            </div>
        </div>

        <div class="blogs">
            <img class="writer-pic" src="../imgs/adani.jpg" alt="" />
            <div class="content">
                <h3>Gautami Adani Became 2nd Richest Person!</h3>
                <p>
                    Breif on how Adani managed to become 2nd richest person by surpassing buffet!
                </p>
            </div>
        </div>

        <div class="blogs">
            <img class="writer-pic" src="../imgs/upi.jpg" alt="" />
            <div class="content">
                <h3>UPI to get accepted in foreign!</h3>
                <p>
                    Middle east Countries to accept UPI as Payment method check list here!!
                </p>
            </div>
        </div>

    </div>
    </div>
    </div>

</body>

</html>