{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .resume{
        border: 1px solid black;
        margin: 10px;
        border-radius: 20px;
        overflow:hidden;
      }
      .profile{
        width:200px;
        height:200px;
        border-radius:25px;
        margin:10px;
      }
      .meta{
        display:flex;
      }
    </style>
   </head>
<body>
  <div class="container">
    <div class="title">Your Resumes:</div>
    <div class="content">
      <div class="resume">
        <div class="meta">
          <img src="/media/profiles/me.jpg" alt="" class="profile">
          <div class="content">
            <h2>Tilak Agrawal</h2>
            <p> nnnnnnnnnnnnnv cvn j.jk kln ;kngf nbgf bksjg bks brkt ghntr ghnr tkjh rnt hgskjrt hrskt jhbrsktj h </p>
          </div>
        </div>
        <div class="links">
          <div class="subB"><a href="">View</a></div>
          <div class="subB"><a href="">Edit</a></div>
          <div class="subB"><a href="">Share</a></div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
