<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add class</title>
</head>
<body>
<form action="/seller/submitclass/" method="post">
    {% csrf_token %}
    <input type="text" id="Name" name="Name" placeholder="Class Name">
    <input type="hidden" id="total" name="total" value="1">
    <div id="labels">
        <input type="text" name="lab0" id="lab0" placeholder="Label" required>
    </div>
    <button type="button" onclick="addI('labels', 'text')">Add label</button>
    <script>
            var val = 1;
            const inputDATA = {"labels": [['lab'], 0, [], ['Label'], ['input']],
                               "required": [["Feature_Label", "Feature_type"], 0, ["ele"], ['Requirements', ''], ['input', 'select'], [{"Number": "int", "Charachters": "char", "File/Image": "image"}], 0],
                               "category": [["categoryname"], 0, [], ['Category'], ['input']]};

            function addInput(getID, getList, Ftype, newParent = document){
                    // newInput = document.createElement('input');
                    InputCount = getList[1]+1;
                    getList[1] = InputCount;
                    for(ins=0; ins < getList[0].length; ins++){
                        newInput = document.createElement(getList[4][ins]);
                        newName = getList[0][ins] + InputCount;
                        newInput.name = newName;
                        newInput.id = newName;
                        newInput.type = Ftype;
                        newInput.placeholder = getList[3][ins];
                        if(getList[4][ins] == 'select'){
                            splace = getList[6];
                            for(opt in getList[5][splace]){
                                newOption = document.createElement('option');
                                newOption.value = getList[5][splace][opt];
                                newOption.innerHTML = opt;
                                newInput.appendChild(newOption);
                            }
                            getList[6] += 1;
                            console.log(getList[6]);
                        }
                        if(newParent == document){
                            parent = newParent.getElementById(getID);
                        }
                        else{
                            parent = newParent;
                            // console.log(newInput);
                        }
                        parent.appendChild(newInput);
                        newInput = document.createElement('input');
                    }
                    getList[6] = 0;
                    return parent;
            }
            function addI(getID, Ftype){
                val += 1
                console.log(val);
                document.getElementById('total').value = val
                newInput = document.createElement('input');
                getList = inputDATA[getID];
                if(inputDATA[getID][2].length == 0){
                    addInput(getID, getList, Ftype);
                }
                else{
                    parents = getList[2];
                    base = document.createElement("div");
                    base.classList.add(parents[0]);
                    under = base;
                    for(Pele = 1; Pele<=parents.length-1; Pele++){
                        under = document.createElement("div");
                        under.classList.add(parents[Pele]);
                        base.appendChild(under);
                    }
                    attach = addInput(parents[parents.length-1], getList, Ftype, under);
                    document.getElementById(getID).appendChild(attach);
                }
            }
        </script>
    <input type="submit" value="Submit">
</form>
</body>
</html>