{% extends '../blueprint/LoginUp.html' %}
{% block title %}Sign Up{% endblock %}
{% block pageone %}
<form action="/upstore/" method="post" class="sign-in-form">
    {% csrf_token %}
    <h2 class="title">Sign up</h2>
    <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="text" name="username" id="usernames" placeholder="Username" required>
    </div>
    <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input type="email" name="Email" id="Email" placeholder="Email" required>
    </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="error">
        <ul>
        {% for mistake in errors %}
            <li>{{mistake}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" name="repassword" id="repassword" placeholder="Repeat Password" required>
    </div>
    <div class="error">
        {{re_password}}
    </div>
    <span style="color:red">{{erroro}}</span>
    <input type="submit" value="Sign up" class="btn">
    <p class="account-text">Already have an account? <a href="#" id="sign-up-btn2">Sign in</a></p>
</form>
<form action="/login/" method="post" class="sign-up-form">
    {% csrf_token %}
    <h2 class="title">Sign in</h2>
    <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="text" name="username" id="username" placeholder="Email/Phone">
    </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="passwordIN" placeholder="Password">
    </div>
    <input type="submit" value="Login" class="btn">
    <span style="color:red;">{{error}}</span>
    <p class="social-text"><a href="/forgot/">Forgot password?</a></p>
    <p class="account-text">Don't have an account? <a href="#" id="sign-in-btn2">Sign up</a></p>
</form>
{% endblock %}
{% block headONE %}Already a member{% endblock %}
{% block lineONE %}Please sign in to visit our website!!!{% endblock %}
{% block sayONE %}in{% endblock %}

{% block headTWO %}New to JUP?{% endblock %}
{% block lineTWO %}Please sign up if you are a new member !!!{% endblock %}
{% block sayTWO %}up{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="/upstore/" method="post">-->
<!--        {% csrf_token %}-->
<!--        <input type="email" name="Email" id="Email" placeholder="Email" required>-->
<!--        <div class="error">-->
<!--            {{email}}-->
<!--        </div>-->
<!--        <input type="tel" name="Phone" id="Phone" placeholder="Phone Number" required>-->
<!--        <div class="error">-->
<!--            {{phone}}-->
<!--        </div>-->
<!--        <input type="password" name="password" id="password" placeholder="Password" required>-->
<!--        <div class="error">-->
<!--            <ul>-->
<!--            {% for mistake in error %}-->
<!--                <li>{{mistake}}</li>-->
<!--            {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--        <input type="password" name="repassword" id="repassword" placeholder="Repeat Password" required>-->
<!--        <div class="error">-->
<!--            {{re_password}}-->
<!--        </div>-->
<!--        <input type="submit" value="Signup">-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->