<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="signin-signup">
            {% block pageone %}
            <form action="/login/" method="post" class="sign-in-form">
                {% csrf_token %}
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" id="username" placeholder="Email/Phone">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" id="passwordIN" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn">
                {{error}}
                <p class="social-text">Or Sign in with social platform</p>
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
            <form action="/upstore/" method="post" class="sign-up-form">
                {% csrf_token %}
                <h2 class="title">Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" id="usernames" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="Email" id="Email" placeholder="Email" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="error">
                    <ul>
                    {% for mistake in errors %}
                        <li>{{mistake}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="repassword" id="repassword" placeholder="Repeat Password" required>
                </div>
                <div class="error">
                    {{re_password}}
                </div>
                <input type="submit" value="Sign up" class="btn">
                <p class="social-text">Forgot password?</p>
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
            {% endblock %}
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>{% block headTWO %}Already a member{% endblock %}</h3>
                    <p>{% block lineTWO %}Please sign in to visit our website!!!{% endblock %}</p>
                    <button class="btn" id="sign-in-btn">Sign{% block sayTWO %}in{% endblock %}</button>
                </div>
                <img src="{% static 'image/jup.png' %}" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>{% block headONE %}New to JUP?{% endblock %}</h3>
                    <p>{% block lineONE %}Please sign up if you are a new member !!!{% endblock %}</p>
                    <button class="btn" id="sign-up-btn">Sign {% block sayONE %}up{% endblock %}</button>
                </div>
                <img src="{% static 'image/jup.png' %}" alt="" class="image">
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/app.js' %}"></script>
    {% block body %}
    {% endblock %}
</body>
</html>