{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block images %}
        {% endblock %}
    </style>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body onscroll="scrolled()">
    {% include "./nav.html" %}
<!--    <div class="tools">-->
<!--        Price: <input type="number" name="from" id="start">to<input type="number" name="to" id="end">-->
<!--    </div>-->
    <h2 class="heading">{{text}}</h2>
    <div class="panel">
        <div class="products">
        {% block list %}
        {% endblock %}
        </div>
    </div>

{% include './footer.html' %}
</body>
</html>